<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MarkdownEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <MarkdownEdit.Properties.Settings>
      <setting name="LastOpenFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="FindReplaceCaseSensitive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FIndReplaceWholeWork" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FindReplaceRegex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FindReplaceWildcards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpellCheckEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WordWrapEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EditPreviewHide" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoSave" serializeAs="String">
        <value>False</value>
      </setting>
    </MarkdownEdit.Properties.Settings>
  </userSettings>
</configuration>
