<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net452" userInstalled="true" />
  <package id="CommonMark.NET" version="0.9.0" targetFramework="net452" userInstalled="true" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" userInstalled="true" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net452" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" userInstalled="true" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net452" userInstalled="true" />
  <package id="TinyIoC" version="1.3" targetFramework="net452" userInstalled="true" />
</packages>