<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net47" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net46" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.8.13" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net47" />
  <package id="Markdig" version="0.15.7" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net47" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net452" />
  <package id="NReco.PdfGenerator" version="1.1.15" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="4.9.2" targetFramework="net47" developmentDependency="true" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net46" />
</packages>