<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Markdown Edit"
           Language="1033"
           Version="1.35.0"
           Manufacturer="Mike Ward"
           UpgradeCode="77d4d41b-4443-42c6-87dd-20771c9bb031">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowDowngrades="no"
                  AllowSameVersionUpgrades="yes" />

    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />

    <SetProperty Id="ProgramFilesFolder"
                 Value="[LocalAppDataFolder]"
                 Before="CostFinalize">
      <![CDATA[NOT Privileged]]>
    </SetProperty>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Markdown Edit">
          <Component Id="ApplicationShortcut" Guid="{C5E63254-5E65-42E9-A830-9D2D427FEF41}">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="Markdown Edit"
                      Description="Desktop Editor for Markdown"
                      Target="[INSTALLFOLDER]mde.exe"
                      WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Microsoft\Markdown Edit" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Condition>NOT ICON</Condition>
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="Markdown Edit"
              Description="Desktop Markdown Editor"
              Target="[INSTALLFOLDER]mde.exe"
              WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\Microsoft\Markdown Edit" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>

      <Directory Id="ProgramFilesFolder">
        <Directory Id="MarkdownEdit" Name="MarkdownEdit">
          <Directory Id="INSTALLFOLDER" Name="bin" />
        </Directory>
      </Directory>
    </Directory>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />

    <Property Id="SKIPFRAMEWORKCHECK" Value="0" />
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="[ProductName] Requires .NET Framework 4.7 or later to be installed">
      <![CDATA[Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 >= "#460798")]]>
    </Condition>

    <InstallExecuteSequence>
      <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="Markdown Edit" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentGroupRef Id="BinComponents" />
    </ComponentGroup>
  </Product>
</Wix>