<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.8.13" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="NReco.PdfGenerator" version="1.1.15" targetFramework="net461" />
</packages>